/* Movie Card style */
.movie-card
{
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 20px 5px;
}

.movie-card-info
{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.movie-card-info__title
{
  font-size: 1.5rem;
}

.movie-card-info__release
{
  font-size: 1rem;
}

.movie-card__poster
{
  margin: auto;
  width: 290px;
  height: 350px;
}