/* Movie Card style */
.movie-card-link,
.movie-card-link div {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 1rem 0;
}

.movie-card-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.movie-card-info__title {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.9);
}

.movie-card-info__release {
  font-size: 0.8rem;
  color: var(--blue-200);
}
.movie-casting{
  display: flex;
  flex-direction: column;
}
.movie-card__poster {
  margin: auto;
  width: 290px;
  height: 350px;
}
